@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 20px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.no-cursor {
    cursor: not-allowed;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    color: #243E63;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    color: #1A202C
}

h6 {
    font-size: 20px;
    color: #243E63;
    font-weight: 600;
}

p {
    font-size: 16px;
    margin: 32px 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    text-decoration: none;
    display: flex;
}

li {
    list-style-type: none;
}

.purple {
    color: #6415ff;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.space {
    padding-left: 8px;
}

/* NAVIGATION */

nav {
display: flex;
justify-content: space-between;
align-items: center;
margin: 32px auto;
}

.nav__logo--container {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #243E63;
    cursor: pointer;
}

.nav__logo {
    width: 40px;
    margin-right: 12px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    padding: 0px 0px 4px;
    font-size: 14x;
    color: #243E63;
    font-weight: 600;
}

.nav__link--secondary {
    display: flex;
    align-items: center;
    margin: 0px 24px 0 48px;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 36px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    cursor: not-allowed;
}

/* LANDING */

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 96px 0;
}

.header__container {
    width: 100%;
    max-width: 72px;
    display: flex;
}

.header__title {
    color: #1A202C;
}

.header__para {
    color: #243E63;
    line-height: 24px;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    margin-left: 16px;

}

.header__input--wrapper {
    position: relative;
    max-width: 448px;
    margin: 12px 0;
}

.header__input {
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border-style: solid;
    border-color: rgb(220, 230, 230);
    font-size: 100%;
    outline: none;
    width: 100%;
    opacity: 0.5;
}

.header__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.header__logo--statement {
    font-size: 12px;
    padding: 20px 0 0 20px;
    margin: 80px 0 0 0;
    opacity: 0.5;
}

.header__logo--wrapper {
    width: 75%;
}

.header__logo {
    width: 100%;
    margin: 16px 0 0 16px;
    padding: 0x 64px 0 0;
    opacity: 0.5;
}

/* FEATURES */

#features {
    padding: 96px 0;
}

.features__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.features__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.features__description {
    display: flex;
    text-align: center;
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    padding: 0 250px 30px 250px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 120px;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.service__img {
    width: 24px;
    height: 24px;
}

.service__description--wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
}

.service__description {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

/* QUALITY */

#quality {
    padding: 96px 0;
}

#quality .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__title {
    display: flex;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.quality__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.quality__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
    margin-left: 32px;
}

/* STEPS */

#steps {
    padding: 96px 0;
}

#steps .row {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.steps__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.steps__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.steps__numbers {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.steps__number {
    display: flex;
    flex-direction: row;
    line-height: 1;
    font-size: 32px;
    font-weight: 600;
    color: #CBD5E0;
    margin-top: 20px;
}

.steps__explanation {
    margin-left: 24px;
}

.steps__para {
    max-width: 80%;
    margin: 12px 0 0 0;
    color: #718096;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
}

/* VALUES  */

#values {
    padding: 96px 0;
}

#values .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.values__description {
    width: 50%;
    padding-right: 24px;
}

.values__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.values__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.values__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 1.5;
}

.values__icon {
  background-color: #9ae6b4;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  color: #276749;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

}

.values__icon2 {
  background-color: #FEB2B2;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  color: #8C312F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.values__subtitles--wrapper {
    display: flex;
}

.values__subtitles--title {
    display: flex;
    align-items: center;
}

.values__subtitles--description {
    color: #7C8BA1;
    margin-right: 12px;
    line-height: 1.5;
}

.btn__wrapper--values {
    margin-top: 32px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

/* PRICING  */

#pricing {
    padding: 96px 0;
}

.pricing__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.pricing__subtitle {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.pricing__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    padding: 0 200px;
}

.plans {
    display: flex;
    flex-direction: row;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 64px;
    margin-right: 1px;
}

.plan__business {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 64px 32px 0px 32px;
    background: #6415ff;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__header {
    text-align: center;
    padding: 32px 0;
}

.business__header {
    color: #F7FAFC;
}

.plan__price {
    margin: 16px 0;
}

.plan__price--business {
    margin: 16px 0;
    color: #F7FAFC;
}


.duration {
    font-size: 16px;
    font-weight: 700;
    color: #A0AEC0;
    letter-spacing: 2px;
}

.duration__business {
    font-size: 16px;
    font-weight: 700;
    color: #F7FAFC;
    letter-spacing: 2px;
}

.plan__features {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.plan__features--business {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.business__subheader {
    color: #F7FAFC;
}

.feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
}

.feature__business {
    margin-top: 20px;
    font-weight: 500;
    color: #F7FAFC;
}


.plans__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    height: 56px;
}

.plans__btn--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    width: 100%;
    height: 56px;
}

.plans__btn--white {
    background: white;
    width: 100%;
    height: 56px;
    color: #6415ff;
}

.btn__wrapper--plans {
    padding: 32px 94px;
    display: flex;
    justify-content: center;
}

.plan__highlight {
    height: 8px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.red {
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */

#testimonials {
    padding: 96px 0;
}

#testimonials .row {
    display: flex;
}

.testimonials__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.testimonials__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.testimonials__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.testimonials__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
}

.stars__wrapper {
    color: rgb(246, 173, 85)
}

.testimonials__subtitle2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 16px;
    color: #243E63;
}

.testimonials__para2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 40px;
}

.testimonials__profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonials__profile--description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile__img--wrapper {
    width: 80px;
    height: 80px;
}

.profile__img {
    width: 100%;
    border-radius: 9999px;
}

.profile__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.profile__description {
    font-size: 16px;
    font-weight: 500;
    color: #7C8BA1;
}

/* FAQ */

#faq {
    padding: 96px 0;
}

.faq__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.faq__subtitle {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.faq__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    text-align: center;
    padding: 0 250px;
}

.faq__list--wrapper {
    max-width: 896px;
    margin: 0 auto;
}

.faq__list {
    padding: 16px 40px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(236, 240, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: not-allowed;
    transition: all 300ms ease;
}

.faq__text {
    font-size: 18px;
    font-weight: 600;
    color: #2D3748;
}

/* Get Started */

#started {
    padding: 96px 0;
}

.getstarted__wrapper {
    padding: 96px 0;
    background-color: #6415ff;
    border-radius: 8px;
}

.getstarted {
    display: flex;
    align-items: center;
    padding: 0 32px;
    text-align: left;
}

.getstarted__text--wrapper {
    width: 50%;
}

.getstarted__text {
    font-size: 30px;
    font-weight: 700;
    color: #F7FAFC;
}

.getstarted__btn--wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.getstarted__btn {
    background-color: #F56565;
    font-size: 16px;
    height: 64px;
    margin-right: 32px;
}

.getstarted__btn2 {
    border-style: solid;
    border-color: #F7FAFC;
    border-width: 1px;
    font-size: 16px;
    height: 64px;
}

/* FOOTER */

footer {
    margin-top: 96px;
    padding: 80px;
    background-color: #6415ff;
}

.links {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #F7FAFC;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}

.link__title {
    font-size: 16px;
    font-weight: 700;
    color: #F7FAFC;
    margin-bottom: 20px;
}

.footer__link {
    font-size: 14px;
    font-weight: 500;
    color: #F7FAFC;
    margin: 12px 0;
    text-align: left;
}

.footer__break {
    margin: 64px 0;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer__logos {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 32px;
    margin-right: 12px;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #F7FAFC;
}

.footer__copyright {
    font-size: 16px;
    color: #CBD5E0;
    font-weight: 400;
}

.social__link {
    margin-right: 12px;
    background-color: #F7FAFC;
    border-radius: 24px;
}

.fa-facebook-f {
    padding: 8px 12px;
}

.fa-twitter {
    padding: 8px 8px;
}

.fa-youtube {
    padding: 8px 8px;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    .nav__link {
        display: none;
    }

    h1 {
        font-size: 28px;
    }

    .header__para {
        font-size: 18px;
    }
}

/* SMALL PHONES */
@media (max-width: 480px) {
    .nav__link {
        display: none;
    }
}

/* NAV LINKS */
@media (max-width: 873px) {
    .nav__link {
        display: none;
    }
}